.container-principal__lista-tarefas {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    padding: 16px;
}

.lista__tarefas {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.tarefa {
    border: 1px var(--cinza-tundora) solid;
    border-radius: 16px;
    padding: 16px;
}

.descricao__tarefa {
    margin-top: 8px;
    display: flex;
    gap: 16px;
    align-items: center;
}

.descricao__tarefa--titulo {
    font-size: 20px;
    font-weight: 700;
    border-right: 1px solid var(--cinza-tundora);
    padding-right: 16px;
}

.etiquetas {
    display: flex;
    gap: 8px;
}

.etiqueta, .etiqueta__prioridade {
    display: flex;
    align-items: center;
    padding: 4px 8px;
    border: 1px solid var(--cinza-nobel);
    border-radius: 4px;
    color: var(--cinza-nobel);
    font-size: 12px;
}

.etiqueta__prioridade {
    border: none;
    color: var(--branco);
}

.etiqueta--alta {
    background-color: var(--vermelho);
}

.etiqueta--media {
    background-color: var(--amarelo);
}

.etiqueta--baixa {
    background-color: var(--verde);
}