.lista__tarefas {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.lista-tarefas__titulo {
    margin: 24px 0;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: var(--cinza-tundora);
}

.container__tarefa {
    border: 1px solid var(--cinza-tundora);
    border-radius: 16px;
    padding: 16px;
}

.container__tarefa--descricao {
    margin-top: 8px;
    display: flex;
    gap: 16px;
    align-items: center;
    color: var(--cinza-escuro);
}

.descricao__tarefa--titulo {
    font-size: 20px;
    font-weight: 700;
    border-right: 1px solid var(--cinza-tundora);
    padding-right: 16px;
}

.tarefas__etiquetas {
    display: flex;
    gap: 8px;
}

.etiqueta, .etiqueta__prioridade {
    display: flex;
    align-items: center;
    padding: 4px 8px;
    border: 1px solid var(--cinza-nobel);
    border-radius: 4px;
    color: var(--cinza-nobel);
    font-size: 12px;
}

.etiqueta__prioridade {
    border: none;
    color: var(--branco);
}

.etiqueta__prioridade--alta {
    background-color: var(--vermelho);
}

.etiqueta__prioridade--media {
    background-color: var(--amarelo);
}

.etiqueta__prioridade--baixa {
    background-color: var(--verde);
}