:root {
  --preto: #000000;
  --cinza-dove-gray: #666666;
  --cinza-dusty-gray: #999999;
  --cinza-silver: #cccccc;
  --branco: #ffffff;
  --fundo: #f1eff4;
  --vermelho: #df2a2a;
  --amarelo: #ffb119;
  --verde: #67c72a;
  --fonte-poppins: 'Poppins', sans-serif;
}
