html {
  --branco: #ffffff;
  --preto: #000000;
  --cinza-escuro: #181818;
  --cinza-tundora: #4a4a4a;
  --cinza-nobel: #b6b6b6;

  --vermelho: #cf3f3f;
  --amarelo: #ffbd3d;
  --verde: #72c240;

  --fonte-poppins: 'Poppins', sans-serif;
}
